        /* declaraçoes gerais */
                * {
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }

        html, body {
            width: 100vw;
            height: 100vh;
            background-color: #233eff;
            background-size: contain;
            background-repeat: no-repeat;
        }

        h1 {
            color: white;
            text-shadow: 0px 5px 6px rgba(0, 0, 0, 0.382);
            padding: 10px;
        }
        /* declaraçoes retrato */
        @media screen and (orientation: portrait){
            body {
                background-image: url(../imagens/cev-portrait.jpg);
                background-position: center bottom;
                }
        }

        /* declaraçoes paisagem */
        @media  screen and (orientation: landscape) {
            body {
                background-image: url(../imagens/cev-landscape.jpg);
                background-position: left bottom;
            }
        }