@charset "UTF-8";

/* versao mobal firt */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.579);
    width: 90vw;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

img#tablet{display: none;}
img#phone{display: block;}
img#pc{display: none;}
img#print{display: none;}
img#tv{display: none;}