@charset "UTF-8";

/* configuraçoes gerais */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 0px 5px 6px rgba(0, 0, 0, 0.382);
    padding: 10px;
}