 @charset "UTF-8";

/* Faz a transição entre as páginas ser suave e animada */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Configuração para as "Seções" parecerem páginas inteiras */
section {
    height: 100vh; /* Ocupa a tela toda */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* --- ESTILOS DA PÁGINA 1 --- */
#pagina1 {
    background-color: rgb(104, 31, 31);
}

#pagina1 div {
    background-color: rgb(145, 23, 23);
    padding: 10%;
    border-radius: 50px;

}

/* --- ESTILOS DA PÁGINA 2 --- */
#pagina2 {
    background-color: rgb(41, 11, 11); /* Cor diferente para destacar a mudança */
    color: white;
}

.link-voltar {
    color: #ff69b4; /* Um rosa para combinar com seu estilo */
    text-decoration: none;
    font-weight: bold;
}

/* --- BOTÃO ANIMADO --- */
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 350%;
}

button {
    font-size: 100%;
    background-color: rgb(41, 11, 11);
    color: white;
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: rgb(145, 23, 23);
    transform: scale(1.3);
}

html {
    scroll-behavior: smooth; /* Faz o site deslizar como se fosse um aplicativo */
}